<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>

  <img src="static/Hamburgur.svg" id="burger-button" class="burger-button" />

  <div id="burger-menu" class="burger-fillings">
    <ul>
      <li><a href="/">EDIT</a></li>
      <li><a href="/">Support</a></li>
      <li><a href="/">My Sessions</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <p style="padding: 20px">Theo Knights - Collyers</p>
    </footer>

    <script>
      const burgerButton = document.getElementById('burger-button');
      const burgerMenu = document.getElementById('burger-menu');

      burgerButton.addEventListener('click', () => {
        burgerMenu.classList.toggle('active');
      });
    </script>
  </body>
</html>
